# autoconf generated things:
Makefile
Makefile.in
aclocal.m4
config.status
configure
configure.ac
autom4te.cache

# Object files
**/*.o
**/*.lo
**/*.slo
**/*.ko
**/*.obj
**/*.elf

# Libraries
**/*.lib
**/*.a

# Shared objects
**/*.dll
**/*.so
**/*.so.*
**/*.dylib

# Compiled Static libraries
**/*.lai
**/*.la
**/*.a
**/*.lib

# Executables
**/*.exe
**/*.out
**/*.app
**/*.i*86
**/*.x86_64
**/*.hex

# Temp files
**/*.*~

# Log files
**/*.log.deps
config.h
config.h.in
*gz
config.log
**/.deps
sceadan_app
stamp-h*
test-driver
test.sh.log
test.sh.trs
test-suite.log
